.wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;

  flex: 0.5;
  color: white;
}

.post {
  background: white;
}

.portfolio {
  background-color: blue;
}

.blog {
  background-color: red;
}
